@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=VT323&display=swap');
body {
    background-color: #4b4b4b;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

canvas {
    border-radius: 0.4em;
}
